@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Inter&display=swap');

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.hourlyHeaderText {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.75rem;
}

.menuBlockWrapper {
    display: flex;
}

.menuContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.menuContent>img {
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.chillBlock {
    background-color: #b9d9eb;
}

.grillBlock {
    background-color: #f03d3dcf;
}

.menuLink {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

.sprinkles {
    animation: twinkle 5s infinite alternate ease-in-out;
    width: 110vw !important;
    height: auto;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
}

.menuHeader {
    margin-top: 150px;
    text-align: center;
}

.menuImage {
    width: 100%;
}

.drawerPhoneIcon {
    margin-right: 5px;
    width: 25px;
}

.marginBottomSmall {
    margin-bottom: 80px;
}

.drawerItemLogin {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.aboutTitleHeader {
    text-align: center;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrollToLocation {
    height: 100px;
    background-color: white;
}

.aboutSectionWrapper {
    display: flex;
    flex-direction: column;
}

.drawerItemLogin {}

.reviewButton {
    background-color: #333333;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.reviewHeader {
    font-size: 1.2rem;
    text-transform: none;
    color: white;
    margin: 0;
}

.footerRoot {
    display: flex;
    background-color: #333333;
    color: white;
    height: 110px;
}

.rocsitesText {
    font-size: 0.7rem;
    margin-bottom: 15px;
    color: white;
}

.rocsitesText a {
    color: white;
}

.socialFooter {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.marginAuto {
    margin: 10px auto;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.socialLinkWrapperNav {
    display: flex;
    justify-content: center;
    margin: auto 20px;
}

.socialLinkWrapperNavMobile {
    display: flex;
    margin: 15px;
}

.socialDrawer {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.socialNav {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.connectHeader {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.addressText {
    text-align: center;
    margin: 40px 0;
}

@keyframes twinkle {
    from {
        transform: translateX(1vw);
    }

    to {
        transform: translateX(-1vw);
    }
}

@media(max-width:600px) {
    .menuLink {
        font-size: 1.25rem;
    }

    .socialLink {}

    .aboutSectionWrapper iframe {
        width: 90%;
        margin: auto;
    }

    .socialLinkWrapperNav {
        display: none;
    }
}